body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

button {
    background-color: #00B0EF;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #63d5ff;
}

#app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

#container {
    margin: 0;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    border: 5px solid white;
    cursor: pointer;
}

td:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

.win-line {
    position: absolute;
    background-color: white;
    z-index: 1;
}

span{
    height: 80px;
}